body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all ease .5s;

}

body::-webkit-scrollbar {
  width: 12px;
  transition: all ease .5s;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #323232;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2bbaff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #323232;
  /* creates padding around scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}